<footer class="row bg-primary">
        <div class="col-12 d-flex justify-content-center align-items-center" style="height: 50px;">
            <i class="far fa-copyright text-light">2022 Copyright: Orchid'Fit</i>
        </div>
    </footer>