{% extends "base.html.twig" %}

{% block title %}
{{ parent() }} modifier mot de passe
{% endblock %}

{% block body %}
<!-- HEADER -->
<header class="row mt-4">
    <div class="col-12 d-flex justify-content-center">
        <h1>Modification du mot de passe</h1>
    </div>
</header>
<!-- MAIN -->
<div class="container-fluid">
    <div class="row d-flex justify-content-center mt-4">
        <div class="col-6 card text-white bg-secondary p-3">
            {{ form(form) }}
        </div>
    </div>
</div>
{% endblock %}