{% extends "base.html.twig" %}

{% block title %}
{{ parent() }} modifier mot de passe
{% endblock %}

{% block body %}
<!-- HEADER -->
<header class="row my-4">
    <div class="col-12">
        <h1>Modification du mot de passe</h1>
    </div>
</header>

<!-- MAIN -->
<main class="container-fluid">
    <div class="main_user row">
        <div class="col-4 card bg-secondary">
            {{ form(form) }}
        </div>
    </div>
</main>
{% endblock %}