{% extends "base.html.twig" %}

{% block title %}
{{ parent() }} Ajout utilisateur
{% endblock %}

{% block body %}
<a href="{{ path('user.index') }}" class="btn btn-danger shadow" id="return_btn">
    annuler
</a>

<!-- HEADER -->
<header class="row my-4">
    <div class="col-12">
        <h1>Ajout d'un utilisateur</h1>
    </div>
</header>

<!-- MAIN -->
<main class="container-fluid">
    <div class="main_user row">
        <div class="col-4 card bg-secondary">
            {{ form(form) }}
        </div>
    </div>
</main>
{% endblock %}